{% extends "layout.html" %}
{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>
    Herkese merhabalar. Ben Matematik Öğretmeni Mert YÜCE. Hacettepe Üniversitesi Ortaöğretim Matematik Öğretmenliği bölümünden 2014 yılında mezun olduktan sonra aynı yıl Nevşehir'in Kozaklı ilçesine atamam gerçekleşti. 2014 - 2017 yılları arasında Hacettepe Üniversitesi Matematik Eğitimi bölümünde yükseklisans programını tamamladım. 2017 yılında İstanbul'a il dışı tayin hakkımı kullanarak geldim. Bu süreçte zaman zaman programlama alanında çalışma yapmak istesemde düzenli bir çalışma programı uygulayamadım. Ancak son bir kaç aydır bunu gerçekleştirmeye çalışıyorum ve belli bir yol katedeceğimi düşünüyorum. Sizinde bu alanda çalışma ve bilgilerinizi paylaşma gibi bir düşünceniz varsa sayfamda bu tür paylaşımlara yer vermenizden mutluluk duyarım.
</p>
{% endblock body %}